<!DOCTYPE html>
<html lang="zh">
<head>
  <title>Doc</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="force-rendering" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta content="email=no" name="format-detection" />
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover">
  <script>
    !(function(){
      var win=window
      var doc=document
      var UA=navigator.userAgent
      var isAndroid=/android|adr/gi.test(UA)
      var isIos=/iphone|ipod|ipad/gi.test(UA)&&!isAndroid
      var isMobile=isAndroid||isIos
      var config={
        isAndroid:isAndroid,
        isIos:isIos,
        isMobile:isMobile,
        isWeixin:/MicroMessenger/gi.test(UA),
        dpr:isIos?win.devicePixelRatio:1,
        rem:null,
      }
      var adapt=function(){
        var docEl=doc.documentElement
        var width=win.innerWidth>750?750:win.innerWidth
        config.rem=width/16
        docEl.style.fontSize=config.rem+'px'
      }
      var timer
      win.addEventListener('resize',function(){
        clearTimeout(timer)
        timer=setTimeout(adapt,300)
      })
      win.addEventListener('pageshow',function(e){
        if(e.persisted){
          clearTimeout(timer)
          timer=setTimeout(adapt,300)
        }
      })
      adapt()
      win.adapter=config
    })()
  </script>
</head>
<body>
  <div id="app"></div>
</body>
</html>
  